
  <div class="row">
    <button (click)="start()" class="btn btn-primary">Play</button>
    <button (click)="toggleControls()" class="btn btn-success">Toggle Controls</button>
    <button (click)="pause()" class="btn btn-warning">Pause</button>
    <button (click)="resume()" class="btn btn-info">Resume</button>
    <button (click)="sound()" class="btn btn-danger">Play with Sound</button>
  </div>


  <div class="container vh-100">
    <div class="d-flex flex-column align-items-center">
       <div class="p-1">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h3>
                <video onplay="onPlayVideo()" #videoElement></video>
              </h3>
            </div>
          </div>
        </div>
       <div class="pb-2">
          <button class="btn btn-primary" (click)="capture()">Capture Image</button>
       </div>
       <div class="p-1">
          <canvas #canvas class="vid"></canvas>
       </div>
    </div>
 </div>