<ion-menu class="sideMenu" side="end" swipe-gesture="true" menuId="first" contentId="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Foot-Fall Tracker</ion-title>

      <img slot="secondary" src="assets/logo.png" height="58px" />
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list>
      <ion-item (click)="presentHowToUseModal()">
        <ion-icon name="help-circle" slot="start"></ion-icon>
        <ion-label>How To Use?</ion-label>
      </ion-item>
      <ion-item (click)="logOut()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Log Out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="mainContent" main>
  <ion-header translucent>
    <ion-toolbar class="mainToolbar">
      <img slot="start" src="assets/logo.png" height="44px" />
      <!-- <img src="assets/logo.png" alt="appIcon"> -->
      <ion-title class="titleicon">{{appTitle}}</ion-title>
      <ion-buttons slot="secondary">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-tabs class="tabs" (ionTabsDidChange)="tabsChanging()">
      <ion-tab-bar class="navigatonMenubar" slot="bottom">
        <ion-tab-button tab="register">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Register New User</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="registerTrack">
          <ion-icon name="paper"></ion-icon>
          <ion-label>registerTrack</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>