<ion-content>
  <ion-card>
    <ion-card-content style="padding: 0;">
      <div class="container">
        <video playsinline muted id="webcam" #video></video>
        <div id="canvas" #canvas></div>
      </div>
    </ion-card-content>
  </ion-card>
  <p>{{ liveMessages }}</p>
  <ion-button [disabled]="isCameraClosed" (click)="registerUserFromVideo()">
    Start Capturing
  </ion-button>
  <ion-button (click)="triggerService()">
    test Service
  </ion-button>
  <ion-button (click)="toggleCamera()">Toggle Camera</ion-button>

  <ion-button [disabled]="!isImageCapturingCompleted || captures.length < threshold" (click)="submitDetails()">Submit
    Data</ion-button>
  <div>
    <canvas #canvas2 id="canvas2"></canvas>
    <ul>
      <li *ngFor="let c of captures; let i = index">
        <img src="{{ c }}" height="80" />
        <ion-badge (click)="removeImage(i)">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-badge>
      </li>
    </ul>
  </div>
</ion-content>